[submodule "MonoGame"]
	path = MonoGame
	url = https://github.com/NebulaSleuth/MonoGame.XamarinForms.git
	branch = develop

[submodule "tools/ouya"]
	path = tools/ouya
	url = https://github.com/slygamer/ouya-csharp.git

